body{
	font-family: roboto;
	font-size: 14px;
	color: #444444;
	line-height: 25px;
	font-weight: 400;
	overflow-x: hidden;
}

/*style header*/
a#logo{
	padding: 28px 0px;
	display: block;
}
a#logo img{
	display: block;
}

ul#main-menu li{
	float: left;
	position: relative;
}
ul#main-menu li a{
	font-size: 16px;
	font-weight: 500;
	padding: 40px 15px;
	display: block;
	text-transform: uppercase;
	line-height: 40px;
	color: black;
}
#main-menu li:hover a{
	transition: all 0.25s;
	list-style: none;
	text-decoration: none;
}
#main-menu>li.active>a,#main-menu>li:hover>a{
	background: #bfe1f5;
	transition: all 0.25s;
    text-decoration: none;
}
#main-menu .sub-menu li{
	float: none;
}
#main-menu .sub-menu{
	display: none;
	position: absolute;
	width: 200px;
	background:white;
	left: 100%;
	top: 0px;
}
#main-menu>li>.sub-menu{
	top: 120px;
	left: 0px;
}
#main-menu .sub-menu li a{
	position: relative;
	font-size: 16px;
	padding: 11px 15px 12px;
	border-top: 1px solid #ffffff;
}
#main-menu .sub-menu li a:after{
	content: "\f0da";
	font-family: FontAwesome;
	font-size: 16px;
	position: absolute;
	right: 25px; 
}
#main-menu li:hover>ul.sub-menu{
    display: block;
    z-index: 1000;
}
#main-menu .sub-menu li:hover>a{
	background:#bfe1f5;
}

#search-box {
    display: block;
    padding: 40px 0px;
    line-height: 30px;
}
.search{
	width: auto;
    border: 1px solid;
    border-radius: 40px;
}
.search-txt{
	width: 120px;
    border: none;
    margin-left: 15px;
}
.search-btn{
	margin-right: 10px;
	color: black;
}

#shopping-bag a i{
padding: 15px;
font-size: 38px;
color: black;
margin-top: 20px;
}

#account a i {
    font-size: 38px;
    padding: 5px;
    margin-top: 29px;
    color: black;
}

/*--------------------------------------------------------------------------------*/

/* style-breadcrumbs */
#breadcrumbs{
    width: 100%;
    height: 52px;
    background-color: #e9e9e9;
    margin-bottom: 50px;
}
.bread-item:not(:last-of-type)::after{
    content: '\203a';
    margin: 0 10px;
    color: black;
    font-size: 20px;
}

.bread-item{
    display: inline-block;
    padding: 17px 0px;
}
.bread-item a{
    text-decoration: none;
}
.breadcrumb-link{
    font-family: Roboto Condensed;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
}
.breadcrumb-link i{
    margin-right: 10px;
    font-size: 20px;
}



/* style body --------------------------------------------*/
#detail-product{
    padding: 0;
    height: auto;
    width: 73%;
    margin-bottom: 30px;
}
.info-product{
    height: 418px;
    width: 786px;
    border-bottom: 2px solid #e9f1f8;
    margin-bottom: 30px;
}
.img-product{
    width: 34%;
}
.information-product{
    width: 66%;
    line-height: 24px;
    padding-left: 60px;
}
.product-name{
    font-size: 25px;
    height: 38px;
}
.product-code{
    font-size: 14px;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    color: #777777;
}
.product-code img{
    position: absolute;
    top: 4px;
}
.product-code p{
    margin-left: 25px;
}
.product-price{
    display: flex;
    font-size: 24px;
    margin-bottom: 10px;
}
.product-price-after{
    margin-right: 13px;
    color: #af8a4e;
}
.product-price-before{
    text-decoration: line-through;
    color: #b4b4b4;
    font-size: 20px;
    font-family: roboto condensed;
    font-weight: 300;
}
.product-text{
    margin-bottom: 15px;
    font-size: 16px;
    color: #777777;
    text-align: justify;
}
.product-amount{
    display: flex;
    margin-bottom: 22px;
}
.product-amount button{
    width: 30px;
    height: 30px;
}
.amount{
    width: 30px;
    height: 30px;
    border: 1px solid #c9c9c9;
    text-align: center;
}
.payments{
    margin-top: 20px;
    position: relative;
}
.payments img{
    position: absolute;
    top: 4px;
}
.payments a{
    text-decoration: none;
    margin-left: 25px;
    color:#777777;
}

.content-product{
    width: 786px;
    margin-bottom: 20px;
}
.head-content{
    height: 50px;
    width: 200px;
    background-color: #e9f1f8;
    text-align: center;
}
.head-content h4{
    padding: 17px;
    font-size: 16px;
    font-family: roboto;
    font-weight: 200;
}
.content-detail{
    text-align: justify;
    line-height: 25px;
    border: 1px solid #e9f1f8;
    padding: 25px;
    font-size: 14px;
}
.content-detail p{
    margin-bottom: 15px;
}

.comments-fb{
    width: 786px;
    margin-bottom: 20px;
}

.head-same-category{
    font-size: 25px;
    text-transform: uppercase;
    font-family: roboto condensed;
    border-bottom: 2px solid #c9c9c9;
    height: 42px;
    margin-bottom: 20px;
}
.thumb{
    height: 198px;
    width: 187px;
    overflow: hidden;
    border-bottom: 1px solid #c9c9c9;
}
.thumb img{
    height: 100%;
    width: auto;
}
.head-same-category h4{
    height: 42px;
}
.head-same-category:hover h4{
    border-bottom:2px solid brown;
    color: brown;
}
#same-category{
    width: 786px;
    margin-top: 20px;
}
.same-category .owl-item{
    width: 25%;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid #c9c9c9;
    height: 292px;
}
.info-same-category{
    text-align: justify;
    padding: 8px;
}
.info-same-category h5{
    font-size: 13px;
    margin-bottom: 12px;
}
button.owl-prev{
    font-size: 25px!important;
    width: 30px;
    background-color: bisque!important;
    height: 30px;
}
button.owl-next{
    font-size: 25px!important;
    width: 30px;
    background-color: bisque!important;
    height: 30px;
}

/* style sidebar */
#sidebar{
    height: auto;
    padding: 0;
    width: 27%;
}

#categories{
width: 100%;
height: auto;
margin-bottom: 50px;
text-transform: uppercase;
}
.category-head{
    height: 62px;
    background-color: #283943;
    text-transform: uppercase;
}
.category-head h4{
    color: white;
    font-family: Roboto Condensed;
    font-size: 21px;
    font-weight: bold;
    padding: 19px;
}
.list-category{
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    position: relative;
    padding: 0 18px;
}
ul.list-category li:hover a{
    color: #d6bc14;
    transition: 0.25s;
    border-color: #d6bc14;
}
.list-category li{
    height: 55px;
}
.list-category li a{
    color: black;
    padding: 21px 0;
    position: absolute;
    font-family: Roboto Condensed;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 88%;
    height: 55px;
    border-bottom: 1px solid #c9c9c9;
}

#banner{
    margin-bottom: 50px;
}

.category-selling{
    height: 751px;
    border: 1px solid #c9c9c9;
}
.selling{
    height: 150px;
    padding: 17px;
}
.selling>div{
    height: 133px;
    border-bottom: 1px solid #c9c9c9;
}
.img-selling{
    width: 75px;
    height: 100px;
    overflow: hidden;
    display: block;
    margin-top: 8px;
    width: 28%;
}
.img-selling a img{
    width: 100%;
    height: auto;
}
.information-selling{
    display: block;
    margin-top: 8px;
    line-height: 20px;
    width: 72%;
    padding-left: 12px;
}
.selling-title{
    color: black;
    font-size: 15px;
}
.information-selling li a{
    text-decoration: none;
}
.price{
    display: flex;
    padding: 11px 0px;
}
.price-after{
    color: #d40707;
}
.price-before{
    color: #909090;
    margin-left: 10px;
    text-decoration: line-through!important;
}
.selling-detail{
    font-size: 13px;
    text-decoration: underline!important;
}


/* style footer --------------------------------------------------*/
#footer{
    width: 100%;
    height: 412px;
    background-color: #1b1b1b;
    position: relative;
}
.widget{
    width: 30%;
    padding: 20px;
    margin-top: 70px;
}
.widget a img{
    margin-bottom: 35px;
}
.widget h{
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: 300;
    line-height: 28px;
    color: white;
}
.widget-content{
    padding: 20px;
    color: white;
    margin: 100px 20px;
}
.widget-head{
    text-transform: uppercase;
    font-size: 28px;
    font-family: Roboto;
    font-weight: bold;
    margin-bottom: 35px;
}
.widget-detail{
    line-height: 28px;
    font-size: 16px;
    font-family: Roboto Condensed;
    font-weight: 400;
}
.list-course li a{
    color: white;
    text-decoration: none;
}
.list-course li a i{
    font-size: 12px;
    margin-right: 5px;
}
#copy-right{
    height: 50px;
    width: 100%;
    background-color: white;
    text-align: center;
}
#copy-right h4{
    color: black;
    font-size: 16px;
    margin-top: 20px;
    font-family: Roboto Condensed;
    font-weight: 300;
}
#fanpage{
    margin-top: 120px;
    position: absolute;
    right: 190px;
}
#fanpage iframe{
    width: 306px;
}